@import "tailwindcss";

@theme {
  --color-green-primary: #0b1412;
  --color-green-cards: #12221e;
  --color-text-primary: #e3ebe8;
  --color-detail-jade: #2bb397;
  --color-detail-gold: #d4af37;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

